<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/assets">Assets</a></li>
        <li><a href="/families">Families</a></li>
    </ul>
    <h1><%= title %></h1>
    <p>Created by: Lerian Febriana, A.Md.Kom</p>
  </body>
</html>
